/**********************************************************
 * Misc
 **********************************************************/

.invisible-element {
  opacity: 0;
}


/**********************************************************
 * Text related classes
 **********************************************************/

.meta {
  color: $grey-color;
  font-size: $small-font-size;
}


/**********************************************************
 * Box and buttons
 **********************************************************/

.box, .button {
  padding: $spacing-unit/3 $spacing-unit/1.8;
  // margin: 0 $spacing-unit/3;

  text-align: justify;

  border-radius: $border-radius;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.button {
  transition: 0.05s;
  margin: $spacing-unit/2 $spacing-unit/2;
  text-decoration: none !important;

  &:hover {
    transform: scale(1.15, 1.15);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  }
}


/**********************************************************
 * Figures and images
 **********************************************************/

 .figure, .figure-noshadow {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: $spacing-unit/2;
  margin-bottom: $spacing-unit/2;
 }

.figure {
  img {
   filter: drop-shadow(5px 5px 3px rgba(0,0,0,0.3));
  }
}

/**********************************************************
 * Icons
 **********************************************************/

.icon, .svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  padding-right: 5px;
  vertical-align: text-top;
}

.svg-icon {
  fill: #{$grey-color};
}
