<header id="header">
  <div class="wrapper" id="header-wrapper">
    <div id="header-float-container">
      <a id="navbar-logo" href="/"><img src={{ site.logo | relative_url }} alt="Logo" /></a>
      <a id="navbar-title" href="/">{{ site.title }}</a>
      <div id="navbar-menu-icon" onclick="changeNav()">
        <div id="bar1"></div>
        <div id="bar2"></div>
        <div id="bar3"></div>
      </div>
      <nav id="navbar-links">
        {%- for path in site.header_pages -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title-%}
        <a class="button" href={{ my_page.url | relative_url }}>{{ my_page.title | escape }}</a>
        {%- endif -%}
        {%- endfor -%}
      </nav>
    </div>
  </div>

  <nav id="sidenav">
    {%- for path in site.header_pages -%}
    {%- assign my_page = site.pages | where: "path", path | first -%}
    {%- if my_page.title == "About" or my_page.title == "Impressum" -%}
    <a class="page-link" style="text-decoration: none;" rel="author" href={{ my_page.url | relative_url }}>{{
      my_page.title | escape }}</a>
    {%- elsif my_page.title-%}
    <a class="page-link" style="text-decoration: none;" href={{ my_page.url | relative_url }}>{{ my_page.title | escape
      }}</a>
    {%- endif -%}
    {%- endfor -%}
  </nav>
</header>

<script>
  window.onscroll = function () { navbar_scroll() };
  window.onload = function () { navbar_load() };
  window.onresize = function () { navbar_resize() };

  var sidebarOpen = 0;

  function navbar_scroll() {
    resizeHeader();
  }

  function navbar_resize() {
    setContentTopMargin();
    resizeHeader();
  }

  function navbar_load() {
    setContentTopMargin();
    resizeHeader();
    headerLoad();
  }

  function setContentTopMargin() {
    margin = document.getElementById("header").offsetHeight + {{ site.data.style.misc.spacing-unit[0] }} + 'px';
    document.getElementById("content").style.marginTop = margin;
  }

  function resizeHeader() {
    //Shrink header on scroll
    if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
      //The shrinked header

      document.getElementById("header").style.padding = {{ site.data.style.misc.spacing-unit[0] }}/4 + 'px 0';
      document.getElementById("navbar-logo").style.height = "{{ site.data.style.header.logo-size-small }}";
      document.getElementById("navbar-title").style.fontSize = "{{ site.data.style.header.title-small }}";

      // Detect wrapped navbar-links
      if (document.getElementById("header").offsetHeight > {{ site.data.style.header.logo-size-small[0] }} + {{ site.data.style.misc.spacing-unit[0] }}) {
        document.getElementById("navbar-links").style.marginTop = {{ site.data.style.misc.spacing-unit[0] }}/2 + 'px';
      } else {
        document.getElementById("navbar-links").style.marginTop = "0";
      }

      // Change navbar-links padding
      if (document.getElementById("navbar-links").style.display == "flex") {
        var navbar_buttons = document.getElementById("navbar-links").querySelectorAll(".button");
        for (index = 0; index < navbar_buttons.length; index++ ) {
          navbar_buttons[index].style.padding = {{ site.data.style.misc.spacing-unit[0] }}/6 + 'px ' + {{ site.data.style.misc.spacing-unit[0] }}/3 + 'px';
        }
      }
    } else {
      //The large header

      // Set element sizes based on screen-width
      if (document.getElementById("header-wrapper").offsetWidth >= {{ site.data.style.misc.on-medium[0] }} + 1) {
        // Properties for large screens

        console.log("width", document.getElementById("header-wrapper").offsetWidth)

        document.getElementById("header").style.padding = {{ site.data.style.misc.spacing-unit[0] }}/2 + 'px 0';
        document.getElementById("navbar-logo").style.height = "{{ site.data.style.header.logo-size-large }}";
        document.getElementById("navbar-title").style.fontSize = "{{ site.data.style.header.title-large }}";

        // Detect wrapped navbar-links
        if (document.getElementById("header").offsetHeight > {{ site.data.style.header.logo-size-large[0] }} + {{ site.data.style.misc.spacing-unit[0] }}) {
          document.getElementById("navbar-links").style.marginTop = {{ site.data.style.misc.spacing-unit[0] }}/2 + 'px';
        } else {
          document.getElementById("navbar-links").style.marginTop = "0";
        }

        // Change navbar-links padding
        if (document.getElementById("navbar-links").style.display == "flex") {
          var navbar_buttons = document.getElementById("navbar-links").querySelectorAll(".button");
          for (index = 0; index < navbar_buttons.length; index++ ) {
            navbar_buttons[index].style.padding = {{ site.data.style.misc.spacing-unit[0] }}/3 + 'px ' + {{ site.data.style.misc.spacing-unit[0] }}/2 + 'px';
          }
        }
      } else {
        // Properties for small screens

        document.getElementById("header").style.padding = {{ site.data.style.misc.spacing-unit[0] }}/2 + 'px 0';
        document.getElementById("navbar-logo").style.height = "{{ site.data.style.header.logo-size-medium }}";
        document.getElementById("navbar-title").style.fontSize = "{{ site.data.style.header.title-small }}";
      }

      setContentTopMargin();
    }
  }

  function headerLoad() {
    document.getElementById("navbar-logo").style.transition = "{{ site.data.style.header.transition }}";
    document.getElementById("navbar-title").style.transition = "{{ site.data.style.header.transition }}";
    document.getElementById("navbar-title").style.transition = "{{ site.data.style.header.transition }}";
    document.getElementById("navbar-links").style.transition = "{{ site.data.style.header.transition }}";
    document.getElementById("navbar-links").style.transition = "{{ site.data.style.header.transition }}";
  }

  function changeNav() {
    document.getElementById("navbar-menu-icon").classList.toggle("change");
    if (sidebarOpen == 1) {
      document.getElementById("sidenav").style.width = "0";
      document.getElementById("bar1").style.backgroundColor = "#333"
      document.getElementById("bar2").style.backgroundColor = "#333"
      document.getElementById("bar3").style.backgroundColor = "#333"
      sidebarOpen = 0
    } else {
      document.getElementById("sidenav").style.width = "100%";
      document.getElementById("bar1").style.backgroundColor = "#cccccc"
      document.getElementById("bar2").style.backgroundColor = "#cccccc"
      document.getElementById("bar3").style.backgroundColor = "#cccccc"
      sidebarOpen = 1
    }
  }
</script>
