// .content {
//   // margin-left: $spacing-unit;
// }

.paginator {
  .button:hover {
      -webkit-transform: scale(1.02, 1.02);
      transform: scale(1.02, 1.02);
  }
}

.paginator-post {
  display: block;
  background-color: $background-color-light;
  color: $text-color;
  margin: $spacing-unit 0 !important;
}

.paginator-excerpt {
  @extend %clearfix;
}

.paginator-excerpt-image {
  float: left;
  width: $spacing-unit*5;
  padding-top: $spacing-unit/5;
  margin-right: $spacing-unit;
  margin-bottom: $spacing-unit/3;
}

.paginator-previous-next {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  text-align: center;
  color: $text-color;
  text-decoration: none;

  .box, .button {
    flex: none;
    align-self: center;
    display: block;
    height: fit-content;
    width: $spacing-unit*3;
    background-color: $background-color-dark;
    margin: $spacing-unit/4 $spacing-unit/4;
    text-align: center;
  }

  .invisible-element {
    display: block;
    width: $spacing-unit*3;
    margin: $spacing-unit/4 $spacing-unit/4;
  }

  @media screen and (max-width: $on-medium) {
    .box, .button {
      display: block;

      margin-bottom: $spacing-unit/2;

      :last-child {
        margin-bottom: 0;
    }
    }

    .invisible-element {
      display: none;
    }
  }

  // @media screen and (max-width: $on-small) {
  //   margin-right: $spacing-unit*1.9;
  //   float: none;
  // }
}
