.wrapper {
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: $on-large) {
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
  }

  @media screen and (max-width: $on-medium) {
    margin-right: 0;
    margin-left: 0;
  }
}

.default-wrapper {
  margin: 0 $spacing-unit/2;
}


.header {
  grid-area: header;
}

.menu {
  grid-area: menu;
}

.content {
  grid-area: content;
  min-height: 33vh;
  padding-top: $spacing-unit/2;
}

.footer {
  grid-area: footer;
}
