.page-content {
  flex: 1;
}

.wrapper, .main-grid {
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
  // @extend %clearfix;

  @media screen and (max-width: $on-large) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }

  @media screen and (max-width: $on-medium) {
    margin-right: 0;
    margin-left: 0;
    padding-right: $spacing-unit / 3;
    padding-left: $spacing-unit / 3;
  }
}

// .main-grid {
//   display: grid;
//   grid-template-areas:
//     'header  header  header  header  header'
//     'content content content content content'
//     'footer  footer  footer  footer  footer';
// }

.header {
  grid-area: header;
}

.menu {
  grid-area: menu;
}

.content {
  grid-area: content;
  min-height: 33vh;
  margin-top: 280px;
}

.footer {
  grid-area: footer;
}
