$transition: 0.3s;

#header {
  position: fixed;
  overflow: visible;
  width: 100%;
  top: 0;
  z-index: 99;
  padding: $spacing-unit/2 0;
  background-color: $background-color-dark;

  @media screen and (max-width: $on-medium) {
    padding: $spacing-unit/2 0;
  }
}

#header-wrapper {
  padding: 0 0 !important;
}

#header-float-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @extend %clearfix;
}

#navbar-logo {
  flex: 1 0 auto;
  height: $logo-size-large;
  margin: 0 $spacing-unit/2;

  @media screen and (max-width: $on-medium) {
    height: $logo-size-medium;
    flex: none
  }
}

#navbar-title {
  flex: auto;
  flex-grow: 10 !important;
  font-size: $title-large;
  text-align: center;
  margin: 0 $spacing-unit/2;
  text-decoration: none;

  @media screen and (max-width: $on-medium) {
    font-size: $title-small;
  }
}

#navbar-menu-icon {
  flex: none;
  margin: 0 $spacing-unit/2;
  width: $logo-size-large/4;
  height: $logo-size-large/4;
  cursor: pointer;
  z-index: 200;
  margin: 0 $spacing-unit/2;

  display: none;

  @media screen and (max-width: $on-medium) {
    display: block;
  }
}

#bar1, #bar2, #bar3 {
  width: 30px;
  height: 4px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change #bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.change #bar2 {opacity: 0;}

.change #bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#navbar-links {
  float: none;
  clear: both;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin: 0 $spacing-unit/2;

  .a {
    flex: none;
  }

  .button {
    float: left;
    display: block;
    background-color: $background-color-light;
    margin: 0 $spacing-unit/3;
    padding: $spacing-unit/3 $spacing-unit/2;
    min-width: $spacing-unit*2;
    text-align: center;
  }

  @media screen and (max-width: $on-medium) {
    display: none;
  }
}

#sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 150;
  top: 0;
  left: 0;
  background-color: $background-color-dark;
  overflow-x: hidden;
  padding-top: $spacing-unit*3;
  transition: 0.5s;
  background-color: black;
  opacity: 0.9;

  /* The navigation menu links */
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: invert($text-color);
    display: block;
    transition: 0.3s;
    text-align: center;
  }

  a:hover {
    color: darken(invert($text-color), 40%);
  }

  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}
