$logo-size-large: $spacing-unit*5;
$logo-size-medium: $spacing-unit*2.75;
$logo-size-small: $spacing-unit*2;

.header {
  display: flex;
  flex-direction: row;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
  padding-top: $spacing-unit/2;
  padding-bottom: $spacing-unit/2;
  margin-bottom: $spacing-unit;
  border-bottom: 1px solid $background-color-dark;

  a {
    text-decoration: none;
    color: $brand-color;
  }
}

.header-title {
  flex: auto;
  width: 100%;
  // padding-right: $logo-size-large;

  text-align: center;
  line-height: $logo-size-large;
  font-size: $logo-size-large/3;
  font-weight: $base-font-weight*3/4;
  letter-spacing: -1px;
  color: $brand-color;

  margin-left: $spacing-unit/4;
}

.header-logo {
  display: block;
  flex: auto;
  align-self: center;
  max-height: $logo-size-large;
  max-width: $logo-size-large;
  min-height: $logo-size-small;
  min-width: $logo-size-small;

  margin-right: $spacing-unit/4;

  img {
    max-height: $logo-size-large !important;
  }
}
