#header {
  position: sticky;
  top: 0;
  z-index: 99;
  padding: $spacing-unit/8 $spacing-unit/2;
  background-color: $background-color-dark;
}

#header-wrapper {
  padding: 0 0 !important;
}

#header-float-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @extend %clearfix;
}

#navbar-logo {
  flex: 1 0 auto;
  height: $logo-size-medium;
  transition: $transition;

  img {
    max-width: unset;
  }

  @media screen and (max-width: $on-medium) {
    height: $logo-size-small;
    flex: none
  }
}

#navbar-title {
  flex: auto;
  flex-grow: 10 !important;
  font-size: $title-large;
  text-align: center;
  margin: 0 $spacing-unit/2;
  text-decoration: none;
  transition: $transition;

  @media screen and (max-width: $on-medium) {
    font-size: $title-small;
  }
}

#navbar-menu-icon {
  flex: none;
  cursor: pointer;
  z-index: 200;
  width: fit-content;
  height: fit-content;

  display: none;

  @media screen and (max-width: $on-medium) {
    display: block;
  }
}

#bar1, #bar2, #bar3 {
  width: 30px;
  height: 4px;
  background-color: #333;
  margin: 6px 0;
  transition: calc(#{$transition} * 4);
}

.change #bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.change #bar2 {
  opacity: 0;
  transition: 0;
}

.change #bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

#navbar-links {
  float: none;
  clear: both;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  // margin: 0 $spacing-unit/2;
  transition: $transition;

  .a {
    flex: none;
  }

  .button {
    float: left;
    display: block;
    background-color: $background-color-light;
    margin: 0 $spacing-unit/6;
    padding: $spacing-unit/4 $spacing-unit/6;
    min-width: $spacing-unit*2;
    text-align: center;
  }

  .active {
    background-color: darken($background-color-light, 50%);
    color: invert($text-color);
  }

  @media screen and (max-width: $on-medium) {
    display: none;
  }
}

#sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 150;
  top: 0;
  left: 0;
  background-color: $background-color-dark;
  overflow-x: hidden;
  padding-top: $spacing-unit*3;
  transition: calc(#{$transition} * 5);
  background-color: rgba(0,0,0,0.92);
  // display: none;

  /* The navigation menu links */
  .page-link {
    padding: $spacing-unit/3 0;
    text-decoration: none;
    font-size: 25px;
    color: invert($text-color);
    display: block;
    transition: calc(#{$transition} * 3);
    text-align: center;
    z-index: 151;
  }

  .page-link {
    &:hover {
      background-color: $background-color-light;
      color: $text-color !important;
    }
  }

  .active {
    background-color: lighten(rgba(0,0,0,1), 50%);
    &:hover {
      color: $text-color !important;
      background-color: $background-color-light;
    }
  }

  // @media screen and (max-width: $on-medium) {
  //   display: block;
  // }
}
