---
layout: home
---

  <!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}
  <a href="{{ post.url | relative_url }}" class="paginator-link">
    <div class="paginator-post">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <span class="post-meta"> by {{ post.author }}</span>
      <br>
      <h3>
        {{ post.title | escape }}
      </h3>
      {%- if site.show_excerpts -%}
        {% if post.header %}
          <img class="paginator-image" src={{ post.header | relative_url }} alt="{{ post.title }} header"></img>
        {%- endif -%}
        <p>
          {{ post.excerpt }}
        </p>
      {%- endif -%}
    </div>
  </a>
  <br>
  {% endfor %}

  <!-- Pagination links -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
    {% endif %}
    <span class="page_number ">
      Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% endif %}
  {% endif %}
  </div>

  {{ content }}
