---
layout: home
---

<!-- This loops through the paginated posts -->
{% if paginator.posts %}
  <div class=paginate>
    <div class=paginate-flex-container>
      {% for post in paginator.posts %}
      <a href="{{ post.url | relative_url }}" class="button paginate-post">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="meta">{{ post.date | date: date_format }}</span>
        <span class="meta"> by {{ post.author }}</span>
        <br>
        <h3>
          {{ post.title | escape }}
        </h3>
        {%- if site.show_excerpts -%}
          <div class="paginate-excerpt">
            {% if post.header %}
              <img class="paginate-excerpt-image shadow" src={{ post.header | relative_url }} alt="{{ post.title }} header"></img>
            {%- endif -%}
            <p>
              {{ post.excerpt }}
            </p>
          </div>
        {%- endif -%}
      </a>
      {% endfor %}
    </div>

    <!-- Pagination links -->
    {% if paginator.total_pages > 1 %}
      <div class="paginate-previous-next">
        {% if paginator.previous_page %}
          <a class="button" href="{{ paginator.previous_page_path }}">
            {%- if site.lang == "de" -%}Zurück{%- else -%}Previous{%- endif -%}
          </a>
        {% else %}
          <span class="box invisible-element"></span>
        {% endif %}
          <span class="box">
            {%- if site.lang == "de" -%}Seite{%- else -%}Page{%- endif -%}&nbsp;{{ paginator.page }}&nbsp;{%- if site.lang == "de" -%}von{%- else -%}of{%- endif -%}&nbsp;{{ paginator.total_pages }}
          </span>
        {% if paginator.next_page %}
          <a class="button" href="{{ paginator.next_page_path }}">{%- if site.lang == "de" -%}Weiter{%- else -%}Next{%- endif -%}</a>
        {% else %}
          <span class="box invisible-element"></span>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endif %}

<div class="content-wrapper">
  {{ content }}
</div>
